@charset "UTF-8";

.about-main {
  padding: 8.5rem 0.5rem 9.9rem 0.5rem;

  display: flex;
  flex-direction: column;

  border-bottom: 0.2rem solid var(--Title);
}

.about-one {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.aboutUs-subtitle {
  font-size: 1.2rem;
  text-align: center;
  font-weight: normal;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.aboutUs-title {
  margin: 1.0rem 0;
  padding: 0.5rem 0;

  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 0.1rem;
  color: var(--Title_Two);
}

.aboutUs-text {
  width: 50rem;

  font-size: 1.2rem;
  text-align: center;
  line-height: 2.0rem;
}

.about-two {
  width: 40rem;
  padding: 1.0rem;
  margin: 5.0rem 0 0 10rem;

  display: flex;

  border-radius: 0.5rem;
  border: 2px solid var(--Title);
  background-color: transparent;
}

.about-two-subtitle {
  font-size: 1.2rem;
  text-align: center;
  color: var(--Title);
  letter-spacing: 0.2rem;
}

.about-two-text {
  margin: 1.5rem 0;
  font-size: 1.3rem;
  text-align: justify;
  line-height: 3.0rem;
}

.about-two-image {
  left: 50rem;
  width: 30rem;
  height: 20rem;

  position: absolute;

  border-radius: 0.5rem;
  border: 2px solid var(--Title);
}

.about-team {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.about-team-title {
  margin: 5.0rem 0 2.5rem 0;

  font-size: 2.0rem;
  text-align: center;
  letter-spacing: 0.1rem;
  color: var(--Title_Two);
}

.members-team {
  width: 50rem;
  margin: 2.5rem 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-team-member {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.team-member-name {
  padding: 0.5rem;

  font-size: 1.0rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.team-member-function {
  font-size: 1.2rem;
  color: var(--Title);
  font-weight: normal;
  letter-spacing: 0.1rem;
}

.team-member-description {
  width: 20rem;
  padding: 0.5rem;
  margin: 1.0rem 0;

  font-size: 1.1rem;
  text-align: justify;
  line-height: 1.7rem;
}

.about-contact {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact-image {
  width: 40rem;
  height: 40rem;
}

.contact-info {
  width: 40rem;
  display: flex;
  flex-direction: column;
}

.contact-title {
  margin: 1.0rem 0;
  padding: 0.5rem 0;

  font-size: 2.0rem;
  font-weight: normal;
  color: var(--Title_Two);
  text-transform: uppercase;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin: 0.5rem 0;
  padding-top: 0.5rem;

  font-size: 1.1rem;
}

.contact-form input {
  width: 25rem;
  padding: 0.5rem;
  margin: 0.5rem 0;

  outline: none;

  transition: .5s ease all;

  border-radius: 0.5rem;
  border: 2px solid var(--Details);
}

.contact-form input:focus,
.contact-form textarea:focus {border: 2px solid var(--Title_Two);}

.contact-form textarea {
  padding: 0.5rem;
  margin: 0.5rem 0;

  outline: none;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;

  transition: .5s ease all;

  border-radius: 0.5rem;
  border: 2px solid var(--Details);
}

.form-button {
  padding: 0.5rem;
  margin: 1.0rem 0;

  cursor: pointer;
  color: #FFFFFF;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;

  transition: .5s ease all;

  border-radius: 0.5rem;
  background-color: var(--Title_Two);
  border: 1px solid var(--Title_Two);
}

.form-button:hover {
  color: var(--Title_Two);

  background-color: transparent;
}