@charset "UTF-8";

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto.ttf') format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/montserrat.ttf') format("truetype");
}

/*COLORS*/
:root {
  --Title: #273273;
  --Title_Two: #418EF2;

  --Details: #A8A6A6;
    
  --Background: #FFFFFF;
  --White_Auxiliary: #F2F2F2;
}

/*CSS RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {font-family: "Roboto", Arial, Helvetica, sans-serif;}