@charset "UTF-8";

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto.ttf') format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/montserrat.ttf') format("truetype");
}