@charset "UTF-8";

.header-component {
  width: 100%;
  margin: 0 auto;
  position: static;

  z-index: 110;
  display: flex;
  justify-content: center;
}

.header {
  top: 0;
  left: 0;
  right: 0;

  z-index: 2;

  width: 100%;
  position: fixed;
  padding: 1.5rem 1.0rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--Background);
  border-bottom: 1px solid var(--White_Auxiliary);
}

.header-title {
  font-size: 1.8rem;
  font-weight: normal;
  letter-spacing: 0.2rem;
  color: var(--Title_Two);
}

.nav-link {
  padding: 0.5rem;
  margin: 0 0.5rem;

  cursor: pointer;
  color: #000000;
  font-size: 1.1rem;
  text-decoration: none;

  transition: .5s ease all;

  border-bottom: 0.2rem solid transparent;
}

.nav-link:hover {
  color: var(--Title_Two);

  transition: .5s ease all;

  border-bottom: 0.1rem solid var(--Title_Two);
}

.header-buttons button {
  width: 5.5rem;

  padding: 0.5rem;
  margin: 0 0.2rem;

  cursor: pointer;
  font-size: 0.9rem;

  transition: .5s ease all;

  border-radius: 0.5rem;
}

.buttons-login {
  background-color: transparent;
  border: 1px solid transparent;
}

.buttons-register {
  background-color: transparent;
  border: 2px solid var(--Title_Two);
}

.buttons-register:hover {
  color: #FFFFFF;

  background-color: var(--Title_Two);
}