@charset "UTF-8";

@media screen and (min-width: 320px) and (max-width: 700px) {
  .main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .section-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
  .info-title {
    font-size: 1.5rem;
    text-align: center;
  }

  .info-subtitle {
    border: none;

    font-size: 1.0rem;
    text-align: center;
  }

  .info-text {font-size: 0.9rem;}

  .info-buttons button {
    margin: 0;
    width: 20rem;
    padding: 0.5rem;

    font-size: 1.0rem;
  }

  .section-image {display: none;}

  .image-content {display: none;}

  .square-layout {display: none;}
}

@media screen and (min-width: 1024px) {
  .main {
    padding: 8.5rem 0.5rem 9.9rem 0.5rem; 
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    border-bottom: 0.2rem solid var(--Title);
  }
  
  .section-info,
  .section-image {padding: 2.5rem;}
  
  .section-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image-content {z-index: 1;}
  
  .info-title {
    padding: 1.0rem 0;
  
    font-size: 3.5rem;
    letter-spacing: 0.1rem;
    color: var(--Title_Two);
  }
  
  .info-subtitle {
    padding-left: 0.5rem;
  
    font-size: 1.6rem;
    font-weight: normal;
    letter-spacing: 0.2rem;
  
    border-left: 0.3rem solid var(--Title);
  }
  
  .info-text {
    margin: 1.5rem 0;
    padding: 0.5rem 0;
  
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-align: justify;
  }
  
  .info-buttons {
    padding: 0.5rem 0;
    margin-top: 2.0rem;
  }
  
  .info-buttons button {
    width: 20rem;
    padding: 1.0rem;
    margin: 0 1.0rem 0 0;
  
    cursor: pointer;
    font-size: 1.2rem;
  }
  
  .buttons-started {
    color: var(--Title);
  
    transition: .5s ease all;
  
    border-radius: 0.5rem;
    background-color: transparent;
    border: 1px solid var(--Title);
  }
  
  .buttons-started:hover {
    color: var(--Background);
    background-color: var(--Title);
  }
  
  .square-layout {
    z-index: 0;
    float: left;
  
    top: 120px;
    right: 0px;
    width: 500px;
    height: 600px;
  
    position: absolute;
  
    border-top-left-radius: 50%;
    background-color: var(--Title);
    border-bottom-left-radius: 50%;
  }
}